extends layout 


block main-content 
  div.content
    //You can overwrite the main-content block by writing block content
    //in the template file which is extending.
    div.right   
          img(src='./how.jpg' alt='logo' style='width:290px; height:305px;')      
          footer#footer 
            p &copy; Copyright HawkOnWheels, 2023.
    h1.page-title Distance between the given points  
      nav#main-nav
        ul
          each driver in menu
            li
              a #{driver.driverId} #{driver.driverName} #{driver.CarModel} #{driver.location} #{driver.rating}
    a(href='/routeInfo') Click here to list available rides between#{fp} to #{tp}  